@import "tailwindcss";
/* @config "../tailwind.config.js"; */

@layer base {

  :root {
    --text-primary: #505050;
    --text-secondary: white;
    --bg-color: white;
    --card-bg: white;
    --navbar-bg: #0066D2;
    --navbar-selected: #1b8aff;
    --activity-bg: white;
    --day-bg: white;
    --form-bg: white;
    --btn-primary: #FF8000;
    --btn-secondary: #FF8A14;
    --qa-primary: #0066D2;

    --radius-card: 8px;
    --shadow-card: 0 0 10px rgba(0, 0, 0, 0.1);

  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    ;
  }

  body {
    font-family: sans-serif;
    color: var(--text-primary);
    background-color: var(--bg-color);

  }

  h1 {
    font-size: x-large;
    margin: 10px;
    font-weight: 700;
  }

  h2 {
    font-size: medium;
    margin: 10px;
    font-weight: 700;
  }

  h3 {
    font-size: small;
    margin: 10px;
    font-weight: 700;
  }

  p {
    font-size: x-small;
    margin: 10px;
  }

  footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    padding: 5px;
  }
}

@layer components {
  .hero-img {
    width: 100%;
    height: 70vh;
    object-fit: cover;
    object-position: center;
  }

  .app-img {
    width: 30vw;
    height: 30vh;
    object-fit: cover;
  }

  .app-text {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
  }

  .btn {
    background-color: var(--btn-primary);
    color: var(--text-secondary);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

    &:hover {
      background-color: var(--btn-secondary);
    }
  }

  .form {
    background-color: var(--form-bg);
    padding: 20px;
  }

  .activity {
    background-color: var(--activity-bg);
    padding: 20px;
  }

  .day {
    background-color: var(--day-bg);
    padding: 20px;
  }

  .navbar {
    background-color: var(--navbar-bg);
    color: var(--text-secondary);
    padding: 20px;
  }

  .embla__viewport {
    overflow: hidden;
  }

  .embla__container {
    display: flex;
    touch-action: pan-y pinch-zoom;
  }

  .embla__slide {
    flex: 0 0 100%;
    min-width: 0;
  }

  .about-app {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    padding: 20px;
  }

  .profile-card {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;

  }

  .social-icons {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 30px;
  }

  .q {
    background-color: var(--qa-primary);
    color: var(--text-secondary);
    padding: 20px;
    margin-bottom: 6px;
    font-size: large;
  }

  .a {
    padding: 20px;
    border: var(--qa-primary) 1px solid;
    font-size: large;
  }
}